/* all files, focused on index */

body {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #013382;
    display: flex;
    flex-direction: column;
    padding: 0 15vw 12vh 15vw;
}

.header1 img {
    width: 50px;
    height: auto;
    padding-top: 10px;
}

.header h1 {
    font-weight: bolder;
    font-size: 48px;
}

.header1 a {
    padding: 0 10px;
    font-size: 18px;
}

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header2 {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}

.header2 p {
    max-width: 700px;
}

.header2 img {
    width: 500px;
    /* padding-left: 50px; */
    margin-right: 0;
    margin-left: auto;
    height: 250px;
}

.header2 a {
    color: yellow;
    text-decoration: underline;
}

img {
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882F6;
    border-radius: 7px;
    padding: 6px 15px;
    color: white;
}

nav {
    color: black;
    width: 80vw;
    /*padding-bottom: 8vh;*/
    margin: 0 10vw 4vh 10vw;
    text-align: center;
}

.navheading {
    padding: 24px 0;
}

.navimages {
    display: flex;
    justify-content: center;
    gap: 170px;
    align-items: center;
    font-size: 18px;
}

.square img {
    width: 120px;
    height: auto;
}

main {
    background-color: #E5E7EB;
    color: black;
    padding: 6vh 15vw;
}

.comment {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: end;
    font-weight: bold;
}

#signup {
    background-color: #3882F6;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
    margin-right: auto;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 4px 40px 8px 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 800px;
}

.copyright {
    background-color: #1F2937;
    text-align: center;
    padding: 8px 0;
}

/* exclusive on sale page */

.onsalegames {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 100px;
    text-align: center;
}

.onsalegames img {
    width: 150px;
    height: 210px;
}

.gametitle {
    max-width: 150px;
    margin: 4px 0;
    font-size: 14px;
}

.lastprice {
    text-decoration-line: line-through;
    font-size: 12px;
    margin: 0;
}

.newprice {
    text-decoration: underline;
    font-size: 14px;
    margin: 5px;
}

.regularprice {
    font-size: 14px;
}

button:hover {
    background-color: white;
    color: #3882F6;
}

form {
    width: 40vw;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
}

form label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form input, form textarea {
    margin-top: 4px;
    margin-bottom: 10px;
    color: #013382;
}

@media (max-width: 1200px) {

    body {
        text-align: center;
    }

    .header1,
    .header1 ul,
    .header1 a,
    .header2 {
        display: block;
    }

    header {
        padding-left: 0;
        padding-right: 0;
    }

    .header1 img {
        padding-bottom: 10px;
    }

    .header1 ul li a {
        color: #013382;
        background-color: white;
        padding: 5px;
    }

    .header1 ul li a:hover {
        color: white;
        background-color: #013382;
    }

    .header2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header2 button {
        margin-bottom: 15px;
    }

    .navimages div,
    .onsalegames div {
        margin-bottom: 30px;
    }

    .gametitle {
        max-width: none;
    }

    .onsalegames {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    form {
        width: 60vw;
    }

    .headertext {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header2 p {
        max-width: none;
    }

    .navimages {
        display: block;
    }
}

@media (max-width: 900px) {

    .onsalegames {
        grid-template-columns: 1fr 1fr;
    
    }

    #signup {
        display: block;
        margin: 0;
        border-radius: 0;
    }
}


@media (max-width: 600px) {

    .onsalegames {
        display: block;
    }

    
}

